@model IEnumerable<GpxViewer.Models.Track>

<div class="page-header">
    <h1>
        <img src="~/Images/gpxicon.png" />GPX Viewer</h1>
</div>
<p>
    @Html.ActionLink("Upload GPX File", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileContentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileUpdatedAt)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Tracks", new { id = item.TrackId }, new { @class = "btn btn-info" })
                    @*@Html.ActionLink("Delete", "Delete", "Tracks", new { id = item.TrackId }, new { @class = "btn btn-danger" })*@
                </td>
            </tr>
        }
    </tbody>


</table>
<p>
    @Html.ActionLink("Upload GPX File", "Create", null, new { @class = "btn btn-primary" })
</p>



