@model IEnumerable<GpxViewer.Models.Activity>

<div class="page-header">
    <h1>
        <img src="~/Images/gpxicon.png" />GPX Viewer</h1>
</div>
<div class="well">
    <p>
        GPX Viewer is a hobby site created by <a href="http://www.designmojo.com">Mike Williams</a>. As an avid cyclist and web developer, 
        I wanted to really understand those files that get sent to Garmin from the GPS while providing a site for users to quickly view their GPS data. For the techies out there, I'm using
        ASP.NET MVC 4 and SQL Server. The site is using a modified bootstrap theme and is hosted on Windows Azure. I plan on adding stats that you probably won't find on Garmin's site. Please know that I will never sell this information
        or share it. This site is open source and can be found on <a href="https://github.com/cmwilliams/GpxViewer">GitHub</a>.

    </p>
</div>

<p>
    @Html.ActionLink("Upload GPX File", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <caption></caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Activities", new { id = item.ActivityId }, null)
                </td>
                <td>
                 
                </td>
                
                <td>
                    @Html.ActionLink("Details", "Details", "Activities", new { id = item.ActivityId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", "Activities", new { id = item.ActivityId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>


</table>
<p>
    @Html.ActionLink("Upload GPX File", "Create", null, new { @class = "btn btn-primary" })
</p>



